<template>
  <div class="card">
    <div class="img" :style="{'background-image': `url(${item.img})`}"></div>
    <div class="name">{{ item.name }}</div>
    <div class="price">{{ item.price }} UAH</div>
    <button @click="buy">Buy</button>
  </div>
</template>

<script>
import {mapMutations} from 'vuex'

export default {
  props: {
    item: {
      default () {
        return {
          id: 0,
          name: 'no name',
          price: 0,
          img: ''
        }
      }
    }
  },
  methods: {
    ...mapMutations([
      'addToBasket'
    ]),
    buy () {
      this.addToBasket(this.item.id)
    }
  }
}
</script>

<style lang="sass" src="./styles.sass"></style>
