.card
  display: flex
  flex-direction: column
  border: 1px solid #dcdfe6
  width: 184px
  margin: 10px
  .name
    font-weight: bold
    margin-top: 20px
    padding: 0 10px
    height: 36px
  .price
    font-weight: bold
    color: darkorange
    padding: 0 10px
    margin-top: 10px
  .img
    width: 100%
    height: 69px
    background-position: center
    background-size: cover
  button
    margin: 10px
    box-sizing: border-box
    cursor: pointer
