<template>
    <div class="basket">
        <div class="actions">
            <button @click="clearBasket">Clear basket</button>
            <div class="total">
                Total price: <span>{{ getTotalPrice }} UAH</span>
            </div>
        </div>
        <div class="items">
            <item v-for="item in getBasket" :id="item.id" :count="item.count" :key="item.id"></item>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex'
import item from './components/item'

export default {
    components: {
        item
    },
    computed: {
        ...mapGetters([
          'getBasket',
          'getTotalPrice'
        ])
    },
    methods: {
        ...mapMutations([
          'clearBasket'
        ])
    }
}
</script>

<style lang="sass" src="./styles.sass"></style>
