.basket
  padding: 20px
  display: flex
  flex-direction: column
  .actions
    display: flex
    .total
      margin-left: 20px
      span
        color: darkorange
  .items
    display: flex
    flex-wrap: wrap
    margin-top: 20px
