<template>
  <div class="item">
    <div class="img" :style="{'background-image': `url(${item.img})`}"></div>
    <div class="right">
      <div class="name">{{ item.name }} <span>{{ item.price }} UAH</span></div>
      <div class="quantity">
        <button @click="decreaseFromBasket(id)">-</button>
        quantity: {{ count }}
        <button @click="addToBasket(id)">+</button>
      </div>
      <button class="delete" @click="deleteFromBasket(id)">X</button>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex'

export default {
  props: {
    id: {
      default: null
    },
    count: {
      default: 0
    }
  },
  computed: {
    ...mapGetters([
      'getBasketItem'
    ]),
    item () {
      return this.getBasketItem(this.id)
    }
  },
  methods: {
    ...mapMutations([
      'addToBasket',
      'decreaseFromBasket',
      'deleteFromBasket'
    ])
  }
}
</script>

<style lang="sass" src="./styles.sass"></style>
