.item
  width: 100%
  display: flex
  border: 1px solid #dcdfe6
  &+.item
    margin-top: 20px
  .img
    width: 184px
    height: 69px
    background-position: center
    background-size: cover
  .right
    width: calc(100% - 184px)
    position: relative
    display: flex
    flex-direction: column
    padding: 10px
  .delete
    position: absolute
    right: 10px
    top: 10px
    cursor: pointer
  .name
    margin-bottom: 10px
    span
      color: darkorange
