<template>
  <div class="basket-preview">
    <router-link :to="{name: 'basket'}">
      basket: {{ getBasketLength }}
    </router-link>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'getBasketLength'
    ])
  }
}
</script>
