<template>
  <div class="header">
    <router-link :to="{name: 'home'}">
      <div class="logo">TR Logic LLC <span>test</span></div>
    </router-link>
    <basket-preview></basket-preview>
  </div>
</template>

<script>
import basketPreview from '@/components/basket-preview'

export default {
  components: {
    basketPreview
  }
}
</script>

<style lang="sass" src="./styles.sass"></style>
