.header
  display: flex
  justify-content: space-between
  align-content: center
  align-items: center
  height: 60px
  border-bottom: 1px solid #dcdfe6
  padding: 0 20px
  .logo
    font-size: 34px
    font-weight: bold
    span
      font-size: 16px
      color: firebrick
