<template>
  <div class="home">
    <div class="items">
      <card v-for="item in getItems" :key="item.id" :item="item"></card>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import card from './/components/card'

export default {
  name: 'home',
  components: {
    card
  },
  computed: {
    ...mapGetters([
      'getItems'
    ])
  }
}
</script>

<style lang="sass" src="./styles.sass"></style>
