<template>
  <div id="app">
      <header-component></header-component>
      <router-view/>
  </div>
</template>

<script>
import Header from '@/components/header'
import {mapMutations} from 'vuex'

export default {
  components: {
    'header-component': Header
  },
  methods: {
    ...mapMutations([
      'initBasketFromLocal'
    ])
  },
  created () {
    this.initBasketFromLocal()
  }
}
</script>

<style lang="sass" src="@/assets/styles/global.sass"></style>
